<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.university.management.reply.mapper.ReplyMapper">


    <insert id="insertReply" parameterType="com.university.management.reply.dto.Reply">
        INSERT INTO REPLY (BO_NO, STU_NO, REPLY_CONTENT, CREATE_DATE, RE_PLUS)
        VALUES (#{bo_No}, #{stu_No}, #{reply_Content}, NOW(), #{rePlus})
    </insert>

    <update id="updateReply" parameterType="com.university.management.reply.dto.Reply">
        UPDATE REPLY
        SET REPLY_CONTENT = #{reply_Content},
            MODIFY_DATE   = NOW()
        WHERE RE_NO = #{re_No}
    </update>

    <delete id="deleteReply" parameterType="int">
        DELETE
        FROM REPLY
        WHERE RE_NO = #{re_No}
    </delete>

    <select id="getReplyList" resultType="com.university.management.reply.dto.Reply">
        SELECT *
        FROM REPLY
        WHERE BO_NO = #{bo_No}
        ORDER BY CREATE_DATE ASC
    </select>

    <insert id="insertNestedReply" parameterType="com.university.management.reply.dto.Reply">
        INSERT INTO UNIVERSITY.REPLY (BO_NO, STU_NO, REPLY_CONTENT, CREATE_DATE, RE_PLUS)
        VALUES (#{bo_No}, #{stu_No}, #{reply_Content}, NOW(), #{rePlus})
    </insert>

    <select id="getRepliesByBoardNo" parameterType="int" resultType="com.university.management.reply.dto.Reply">
        SELECT * FROM UNIVERSITY.REPLY WHERE BO_NO = #{bo_No} AND RE_PLUS = -1
        ORDER BY CREATE_DATE ASC
    </select>

    <!-- 특정 댓글에 달린 대댓글을 가져옵니다. -->
    <select id="getNestedReplies" parameterType="int" resultType="com.university.management.reply.dto.Reply">
        SELECT * FROM UNIVERSITY.REPLY WHERE RE_PLUS = #{re_No}
        ORDER BY CREATE_DATE ASC
    </select>

</mapper>