<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.university.management.everytime.mapper.EverytimeMapper">

	<select id="getAllEtaList" parameterType="map"
		resultType="com.university.management.board.dto.Board">
        SELECT *
        FROM board
        WHERE TYPE = "e"
        order by CREATE_DATE
                DESC LIMIT #{listLimit}
        OFFSET #{firstRow}
    </select>

	<select id="getEtaBoardByNo" parameterType="int"
		resultType="com.university.management.board.dto.Board">
		SELECT * FROM board WHERE TYPE = "e" AND BO_NO = #{bo_no}#
	</select>

	<select id="getAllEtaListByStuNo" parameterType="int"
		resultType="com.university.management.board.dto.Board">
		SELECT * FROM board WHERE TYPE = "e" AND stu_no = #{stu_no}
		order by CREATE_DATE DESC
	</select>

	<select id="getAllEtaHotList"
		resultType="com.university.management.board.dto.Board">
		SELECT * FROM board WHERE TYPE = "e" order by READCOUNT
		DESC, BO_LIKE DESC limit 5 offset 0
	</select>

	<select id="getListCount"
		resultType="int">
		SELECT COUNT(*) FROM board WHERE TYPE = "e"
	</select>

	<insert id="insertBoard" parameterType="com.university.management.board.dto.Board">
        INSERT INTO BOARD(stu_no, title, content, type, readcount, bo_like, bo_status)
        VALUES (#{stu_no}, #{title}, #{content}, "E", 0, 0, #{bo_status})
    </insert>

	<update id="updateBoard" parameterType="com.university.management.board.dto.Board">
		UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content}, BO_STATUS= #{bo_status}, CREATE_DATE = now()
		WHERE BO_NO = #{bo_no}
	</update>

	<update id="readCountUp" parameterType="int">
		UPDATE BOARD SET READCOUNT = READCOUNT + 1
		WHERE BO_NO = #{bono}
	</update>

	<update id="etaLikeUp" parameterType="int">
		UPDATE BOARD SET BO_LIKE = BO_LIKE + 1
		WHERE BO_NO = #{boNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE TYPE ='e' AND BO_NO = #{bo_no}
	</delete>
</mapper>